<%- include('./include/header.ejs') %> 

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-4 p-5 text-center">
            <h5>404 Not Found</h5>
            <img src="/img/cats.png" class="img-fluid mb-5" alt="Image">
            <a href="/">Back</a>
        </div>
    </div>
</div>

<%- include('./include/footer.ejs') %> 